<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryuProject.tripleProject.mapper.UserPointMapper">

    <insert  id="inputUserPoint" parameterType="UserPointDTO">
        INSERT INTO USER_POINT(USER_ID, REVIEW_ID, POINT_TYPE, POINT, CREATE_DATE)
        VALUES(#{userId}, #{reviewId}, #{pointType}, #{point}, now())
    </insert>

    <select id="getUserReviewSumPoint" resultType="Integer" parameterType="UserPointDTO" >
        SELECT sum(point) as sumPoint
        FROM user_point
        WHERE user_id = #{userId}
        AND  review_id = #{reviewId}
        GROUP BY user_id
    </select>

    <select id="getUserSumPoint" resultType="Integer" parameterType="String" >
        SELECT sum(point) as sumPoint
        FROM user_point
        WHERE user_id = #{userId}
        GROUP BY user_id
    </select>

</mapper>